<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="socket.io.js"></script>
    <title>Arrowhead Demo</title>
</head>
<body>
<div>
    <span>Connect</span>
    <div id="connect" class="square">
        <!-- <select id="serialMenu"> -->
            <!-- <option value="none">...</option> -->
            <!-- <option value="9600">9600</option> -->
        <!-- </select> -->
    </div>
</div>
<div class="spacer"></div>
<div>
    <span>Data</span>
    <div id="data" class="square">
    </div>
</div>

<script src="jquery-latest.min.js"></script>
<script src="socket.js"></script>
<!-- <script src="IDE_functions.js"></script> -->
</body>
</html>
